@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* General scrollbar styling */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width as desired */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #a09f9f; /* Adjust the color as desired */
    border-radius: 10px; /* Makes the thumb rounded */
}

/* Scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Adjust the background color as desired */
}

/* Optional: Hover effects for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
