.lds-dual-ring-g {
    position: absolute;
  }
  
    .lds-dual-ring-g:after {
        content: " ";
        display: block;
        width: 100px;
        height: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #531d8c transparent #531d8c transparent;
        animation: spin 1.2s linear infinite;
    }
  
  .lds-dual-ring-absolute-fe {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #a7a7a75c;
    left: 0;
    top: 0;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-spinner-logo {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    .loading-spinner-logo img {
        width: 70%;
        max-width: 100%;
        height: 70%;
    }
  
  @keyframes spin {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
  
    to {
        transform: rotate(360deg); /* End at 360 degrees (one full rotation) */
    }
  }